/* Basic Body CSS */

body {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #ee37f8 0%, #2BD2FF 52%, #3bf28a 90%);
  font-family: 'Verdana ', sans-serif;
  font-family: 'Georgia', sans-serif;
  
}

/* Bootstrap css */
.mt-n1 {
  margin-top: -0.25rem !important;
}

/* Navbar Background */
:root {
  --bg-purple: #02084e;
}

.background-purple {
  background-image: linear-gradient(45deg, #FA8BFF 0%, #de15cd 5%, #4a0ade 90%);
}

header {}

.nav-left {
  justify-content: flex-end;
  align-items: flex-end;
}


.profile-container {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.profile-container img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%
}

/* Adding Aside Functionality */
.queue-list li {
  margin: 1%;
  padding: 5%;
}

.queue-list li i {
  margin-right: 1%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -30%;
}

main {}

.top-genere-sugestion .card {
  font-family: sans-serif;
  transition: all 0.5s ease-in-out;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box .card {
  height: 100;
  width: 100;
}

.top-movies-sugestion .card:hover {
  transform: scale(1.05);
}

.detail-movie-plot {
  color: rgb(0, 0, 0);
}

.detail-movie {
  color: rgb(6, 6, 6);
}

.li a {
  text-decoration: none;
}

.contai img {
  margin: auto;
}

.detail-movie {
  margin: auto;
}

.plot {
  /* justify-content: center; */
  color: rgb(6, 7, 7);
  padding: 5;
  margin: 2rem;
}

.artist-offcanvas {
  background-color: #394af5;
background-image: linear-gradient(90deg, #394af5 0%, #88e9e2 100%);

  color: rgb(8, 8, 8);
}

.artist-offcanvas img {
  height: 5rem;
  width: 5rem;
}

ol li {
  padding: 2;
  margin: 2;
  display: flex;
}

ol li button {
  padding-top: 2;
  margin-top: 2rem;
  justify-content: end;
  height: auto;
  line-height: 1.2;
}