body {
    /* background-color: #d0f7df; */
    background-color: #0c1027;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Fuzzy Bubbles', cursive;
  }
  